/*! responsive-nav.js v1.0.15 by @viljamis */

#nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

#nav li {
  width: 100%;
  display: block;
}

.js #nav {
    position: relative;
}

.js #nav.closed {
    max-height: none;
}

#nav-toggle {
    display: none;
}






/*

.primary-nav {
		display: inline-block;
		width: 100%;
		position: relative;
		min-height: 48px;
		background: #93701e url(../images/menuBtn.svg) no-repeat 10px 11px;
		margin: 0 auto;
		text-align: center;
	}	
	.primary-nav ul {
		width: 100%;
		padding: 0;
		position: static;
		top: 0;
		left: 0;
	}
	.primary-nav li {
		position: absolute;
		display: block;
		left: -9999px;
		margin: 0;
		padding-top: 16px;
	}
	.primary-nav .current {
		position: static;
	}
	.primary-nav a {
		position: static;
		text-align: left;
		color: #f2bb1a;
	}
	.primary-nav .current a {
		background: none;
		color: #fff;
	}
*/



@media screen and (max-width: 650px) {

.js #nav {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

#nav.opened {
  max-height: 9999px;
}
/*


.primary-nav {
	float: right; 
	margin: 70px 0 0 0; 
	font-family: 'Montserrat', sans-serif; 
	font-size: 1.4rem; 
	text-transform: uppercase; 
	list-style: none; 
	font-weight: 600;	

}

.primary-nav ul {
	margin: 0;
	padding: 0;
}
.primary-nav li {
	margin: 0 20px 0 0;
	padding: 0;
	display:inline-block;
	list-style: none;
}
.primary-nav a {
	padding: 0;
	text-decoration: none;
	color: #93701e;
	line-height: 100%;
}
.primary-nav a:hover {
	color: #fff;
}
.primary-nav .current a {
	color: #fff;
}
*/




}



